:root {
    --color-primary: #ffffff;
    --color-primary-muted: rgb(255 255 255 / 78%);
    --color-bg: #161617;
    --color-text: #fffff5;
    --font-main: "Euclid Circular B", "Poppins", sans-serif;
}